version: "3.8"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+psycopg2://user:password@localhost:5432/mydatabase"
    ports:
      - "8080:8080"
    command: >
      uvicorn app.app_server:app --host 0.0.0.0 --port 8080

volumes:
  postgres_data:
